{% extends "TestTools/base.html" %}
{% block body %}

    <script src="/static/js/bug.js"></script>
    <body onload="~function(){getallbug();setBadge({{ bugStatusCount }})}()">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-md-2 text-center"><label>请选择项目</label></div>
                <div class="col-md-6">
                    <select class="form-control" id="selectProject">
                        {% for x in project %}
                            <option>{{ x }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="{% url 'newbug' 'new' 0 %}">
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default">新建缺陷</button>
                    </div>
                </a>
                <a href="{% url 'newproject' %}">
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default">新建项目</button>
                    </div>
                </a>
                <a href="#">
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default">Export Bug</button>
                    </div>
                </a>
                <a href="#">
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default">Export All Bug</button>
                    </div>
                </a>
            </div>
        </div>
        <P></P>
        <div class="row">
            <div class="col-md-12" id="statusButton">
                {% for x in bugStatus %}
                    <button type="botton" id="button{{ x.code }}">{{ x.name }}<span class="badge"
                                                                                    id="status{{ x.code }}"></span>
                    </button>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>终端</td>
                    <td>缺陷标题</td>
                    <td>开发人员</td>
                    <td>缺陷状态</td>
                    <td>明细</td>
                </tr>
                </thead>
                <tbody id="bugbody">

                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock %}